* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.app {
    display: block;
}

div.textBox {
    width: 500px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

div.box {
    width: 100%;
    height: 100%;
    position: relative;
}

div.textBox:not(div.box) {
    display: flex;
    align-items: flex-end;
}

.input {
    width: 500px;
}

.radius {
    border-radius: 0;
}

.textTable {
    width: 100%;
}

p.msg {
    margin: 0;
    padding: 10px;
    border: 1px solid black;
    display: inline;
    border-radius: 0 15px 15px 15px;
}

p.ans {
    margin: 0;
    padding: 10px;
    border: 1px solid black;
    display: inline;
    border-radius: 15px 0 15px 15px;
}

div.msg_box {
    padding: 10px 0 10px 0;
    margin: 10px;
}

div.ans_box {
    padding: 10px 0 10px 0;
    margin: 10px;
    float: right;
}

.learn {
    padding: 10px 20px 10px 20px;
}